* {
  box-sizing: border-box;
  margin: 0px;
}

.header1 {
  position: fixed;
  display: flex;
  height: 44px;
  width: 100%;
  background: #000000;
  background: #000000cc;
  background: linear-gradient(180deg, #f5f5f7 0.59%, #ffffff 0.59%);
  background: #f5f5f7cc;
  gap: 24px;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
}

.logocont {
  height: 44px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
}

.header2 {
  height: 52px;
  width: 100vw;
  position: absolute;
  top: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.header2 p {
  font-size: 14px;
}

.tom {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 96px;
  gap: 12px;
}
.first {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.box1 {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 692px;
}

.first .box1:nth-child(1) {
  background-image: url("ip16.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.first .box1:nth-child(2) {
  background-image: url("ip1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.first .box1:nth-child(3) {
  background-image: url("gift.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.textcontainer {
  position: absolute;
  width: 100%;
  height: 172px;
  top: 55px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
.text {
  display: flex;
  width: 100%;
  height: 108px;
  gap: 16px;
  flex-direction: column;
}

.text p:first-child {
  font-size: 52px;
  font-weight: 600;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.text p:last-child {
  font-size: 24px;
  font-weight: 400;
  height: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.tex {
  height: 44px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
}

.learn {
  display: flex;
  background-color: #0071e3;
  color: #ffffff;
  height: 44px;
  width: 123px;
  border-radius: 999px;
  font-size: 16px;
  font-family: "inter", sans-serif;
  justify-content: center;
  align-items: center;
}

.buy {
  display: flex;
  border: 1px solid #2997ff;
  color: #2997ff;
  height: 44px;
  width: 68px;
  border-radius: 999px;
  font-size: 16px;
  font-family: "inter", sans-serif;
  justify-content: center;
  align-items: center;
}

.text-black {
  color: #000000;
  top: 446px;
}

.text-white {
  color: white;
}

.second {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.box2 {
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.inbox {
  position: relative;
  display: flex;
  width: 50%;
  height: 580px;
  justify-content: center;
}

.dotor {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 58px;
  gap: 16px;
}

.te {
  font-family: "inter", sans-serif;
  font-size: 18px;
  color: #1d1d1f;
}

.haha {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.tex {
  height: 44px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
}

.small {
  height: 40px;
}

h1 {
  font-family: "inter", sans-serif;
  font-size: 36px;
  height: 44px;
  font-weight: 600;
}

.get {
  height: 40px;
  width: 167px;
}

.bottom {
  top: 401px;
}

.white {
  color: #f5f5f7;
}

.it {
  color: #f5f5f7;
  font-size: 18px;
}

.rainbow {
  position: absolute;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  background-image: linear-gradient(
    90.43deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  color: transparent;
  background-clip: text;
  top: 509px;
}

.box2:nth-child(1) .inbox:nth-child(1) {
  background-image: url("Figure1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box2:nth-child(1) .inbox:nth-child(2) {
  background-image: url("Figure2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box2:nth-child(2) .inbox:nth-child(1) {
  background-image: url("Figure3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box2:nth-child(2) .inbox:nth-child(2) {
  background-image: url("Figure4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box2:nth-child(3) .inbox:nth-child(1) {
  background-image: url("Figure5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box2:nth-child(3) .inbox:nth-child(2) {
  background-image: url("Figure6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.scrollcont {
  position: relative;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: auto;
}

.scroll {
  height: 100%;
  width: fit-content;
  display: flex;
  gap: 16px;
  flex-direction: row;
}

.runner {
  height: 8px;
  width: 220px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
}

.circle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: gray;
}

.circle:first-child {
  background-color: #1d1d1f;
}
.scroll_container {
  height: 292px;
  position: relative;
  left: 0;
  width: 100vw;
  overflow: hidden;
}
.scroll2 {
  height: 100%;
  width: fit-content;
  gap: 10px;
  display: flex;
  animation: autoscroll1 30s linear infinite;
}

.container {
  width: 417px;
  height: 236px;
  position: relative;
  display: flex;
}

.container:nth-child(2) {
  background: #1b2632 !important;
  display: flex;
  align-items: center;
}
.container:nth-child(7) {
  background: #1b2632 !important;
  display: flex;
  align-items: center;
}

.container:nth-child(5) {
  background: #ebb799 !important;
  display: flex;
  align-items: center;
}
.container:nth-child(10) {
  background: #ebb799 !important;
  display: flex;
  align-items: center;
}

.smal {
  position: absolute;
  border-radius: 8px;
  left: 15px;
  aspect-ratio: 196/196;
}

.logo1 {
  position: absolute;
  top: 199px;
}

.logo1:nth-child(1) {
  left: 304px;
}

.logo1:nth-child(2) {
  left: 323px;
}

.logo1:nth-child(3) {
  left: 314px;
}

.logo1:nth-child(4) {
  left: 304px;
}

.logo1:nth-child(5) {
  left: 323px;
}

@keyframes autoscroll1 {
  100% {
    transform: translateX(-2137px);
  }
}

.maichi {
  position: absolute;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  left: 15px;
  top: 198px;
  color: #ffffff;
}

.musec {
  top: 109px;
  left: 226px;
}

.cant {
  height: 668px;
  width: 80vw;
  position: relative;
}
.stream {
  position: absolute;
  top: 580px;
  left: 70px;
  background-color: #f5f5f7;
  height: 44px;
  width: 133px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-family: "inter", sans-serif;
  font-weight: 400;
}

.movie {
  position: absolute;
  top: 593px;
  left: 223px;
  font-family: "inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: white;
}

.movie span {
  font-weight: 700;
  text-shadow: 0px 0px 5px 0px #00000099;
}
button {
  display: none;
  position: absolute;
  background-color: white;
  height: 33px;
  width: 123px;
  border-radius: 999px;
  align-self: center;
  border: white;
  left: 147px;
  z-index: 2;
}
.scroll2:hover {
  animation-play-state: paused;
  transition: 0.5s;
}

.scroll2 .container:hover button {
  display: block;
  transition: 1s;
}

.scroll2:has(.container:hover) .container {
  filter: grayscale(100%);
  transition: 1s;
}

.scroll2:has(.container:hover) .container:hover {
  filter: brightness(50%);
  transition: 1s;
}

.oor {
  background: #ffffff;
  height: 500px;
  width: 313px;
}

.figure {
  object-fit: cover;
}
.logomi {
  display: flex;
  gap: 24px;
}

.logomi .logocont:last-child {
  display: none;
}

.playbutton {
  position: absolute;
  background: #d2d2d7;
  border-radius: 12px;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 255px;
  right: 20px;
}

.hidden {
  display: none;
  object-fit: cover;
}
.yes {
  object-fit: cover;
}

.fit {
  object-fit: cover;
}

a {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .header1 p {
    display: none;
  }
  .logomi .logocont:last-child {
    display: flex;
  }

  .header1 {
    justify-content: space-between;
  }

  .cant {
    height: 368px;
    width: 689px;
  }
  .stream {
    top: 305px;
    left: 30px;
    height: 36px;
    width: 108px;
    font-size: 14px;
  }

  .movie {
    top: 312px;
    left: 156px;
  }

  .container {
    width: 286px;
    height: 161px;
  }

  .container .smal {
    height: 121px;
    width: 121px;
  }

  .maichi {
    top: 176px;
    left: 5px;
    color: black;
  }

  .logo1 {
    top: 135.15px;
    height: 10.84px;
  }

  .logo1:nth-child(1) {
    left: 223px;
    width: 61px;
  }

  .logo1:nth-child(2) {
    left: 223px;
    width: 46px;
  }

  .logo1:nth-child(3) {
    left: 214px;
    width: 46px;
  }

  .logo1:nth-child(4) {
    left: 204px;
    width: 46px;
  }

  .logo1:nth-child(5) {
    left: 223px;
    width: 46px;
  }
  .musec {
    top: 176px;
    left: 5px;
  }

  button {
    height: 25px;
    width: 100px;
    left: 100px;
  }

  .scroll_container {
    height: 250px;
  }
  .playbutton {
    top: 210px;
  }
  a {
    display: none;
  }
}

@media (max-width: 390px) {
  .first .box1:nth-child(1) {
    background-image: url("probosoo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .first .box1:nth-child(2) {
    background-image: url("bosoo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .box1 {
    height: 500px;
    width: 100vw;
  }

  .box1:nth-child(1) .textcontainer:nth-child(1) {
    top: 350px;
  }

  .box1:nth-child(3) .textcontainer:nth-child(1) {
    top: 350px;
  }

  .text p:first-child {
    font-size: 30px;
  }

  .text p:last-child {
    font-size: 18px;
  }

  .text {
    height: 62px;
    width: 241px;
    gap: 4px;
  }

  .textcontainer {
    gap: 16px;
  }

  .learn {
    height: 36px;
    width: 107px;
  }

  .buy {
    width: 66px;
    height: 36px;
  }

  .text {
    width: 300px;
  }

  .box2 {
    flex-direction: column;
  }
  .inbox {
    width: 100%;
    height: 500px;
  }

  .get {
    width: 150px;
  }

  .dotor {
    top: 46px;
  }

  .bottom {
    top: 350px;
  }

  .cant {
    height: 495px;
    width: 274px;
  }

  .yes {
    display: none;
  }
  .hidden {
    display: block;
  }

  .movie {
    display: none;
  }
  .stream {
    top: 420px;
    left: 80px;
  }

  .container {
    width: 238px;
    height: 134px;
  }

  .container .smal {
    height: 114px;
    width: 114px;
  }

  .maichi {
    top: 144px;
    left: 5px;
    color: black;
  }

  .logo1 {
    top: 113.2px;
    height: 9.67px;
  }

  .logo1:nth-child(1) {
    left: 157px;
    width: 61px;
  }

  .logo1:nth-child(2) {
    left: 177px;
    width: 46px;
  }

  .logo1:nth-child(3) {
    left: 177px;
    width: 46px;
  }

  .logo1:nth-child(4) {
    left: 177px;
    width: 46px;
  }

  .logo1:nth-child(5) {
    left: 157px;
    width: 46px;
  }
  .musec {
    top: 144px;
    left: 5px;
  }

  button {
    height: 20px;
    width: 80px;
    left: 80px;
  }

  .scroll_container {
    height: 220px;
  }
  .playbutton {
    top: 190px;
  }

  a {
    display: none;
  }
}
